h1 {
    color: rgba(2, 2, 151, 0.822);
    text-align: center;
    }
    p {text-align: center; color: hsl(0, 93%, 5%); }

    body{
        background-color: pink;

    }
    .p2{
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
        }
        .photo1{

        width: 100px;
        height: 100px;
        display: flex; 
        flex-wrap:wrap ;
        margin: auto;
        }