h1 {
    color: rgba(2, 2, 151, 0.822);
    text-align:center ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    p {text-align: left; color:black; font-size: medium; }

    body{
        background-image:linear-gradient(#FEAC5E,#C779D0,#4BC0C8);
        background-repeat: no-repeat;
        background-size: 100%;

    }
    footer 
    {
      display:flex;
      flex-wrap: wrap;
      height: 5cm;
      width: 5%;
      align-content:center ;
      align-items: center;
    }