h1 {
    color: rgba(2, 2, 151, 0.822);
    text-align:left ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    p {text-align: center; color:black; }

    body{
        background-image:linear-gradient(#FEAC5E,#C779D0,#4BC0C8);
        background-repeat: no-repeat;
        background-size: 100%;

    }
    footer :div
    {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 5cm;
      width: 100%;
    }